body {
    font-family: Arial, sans-serif;
    background: url('imgs/28.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Elimina las barras de desplazamiento */
    height: 100vh;
}

header {
    background-color: rgba(90, 90, 90, 0.8);
    color: #fff;
    padding: 1em;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 1em;
    max-height: calc(100vh - 120px); /* Ajusta el alto máximo para evitar el desplazamiento */
    overflow-y: auto; /* Habilita el desplazamiento solo para la galería */
}

.gallery img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }
    .gallery {
        gap: 5px;
        padding: 0.5em;
    }
    .gallery img {
        max-width: 150px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
    }
    .gallery img {
        max-width: 100px;
    }
}
